ul.nav {
  border: solid thin red;
}

li {
  display: inline;
}

#circle {
  /* I should consider if I want this to be a circle or square */
  width: 100px;
  height: 100px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.initials {
  color:white;
  padding-top: 22px;
  padding-left: 25px;
  font-size: 45px;
  font-variant: small-caps;
  font-family: comic_sans;
  font-style: italic;
}

.pictureText {
  vertical-align: text-bottom;
}

 img {
  height: 20em;
  width: 20em;
  /*float: right;*/
}

/*body {
  background-image: url('IMG1.jpg');
}*/

.mainView {
  border: solid thin yellow;
}

aside.socialMediaLogos {
  border: solid thin green;
}

.bio {
  border: solid thin blue;
}

.portfolio {
  border: solid thin pink;
}

.skills {
  border: solid thin black;
}

.blog {
  border: solid thin magenta;
}

.contact {
  border: solid thin purple;
}

footer {
  border: solid thin orange;
}

table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
  width: 440px;
}

.team {
  text-align: left;
}

/*table {
  width: 100%;
}

td {
  width: 20%;
}*/

.newspaper {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    column-count: 2;

}


.newsTitle {
  text-align: center;
}


div#d1 {
  background-color: red;
  margin: 15px;
  width: 250px;
  height: 100px;
  border: 5px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}

div#d2 {
  background-color: green;
  margin: 15px;
  width: 250px;
  height: 100px;
  border: 5px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}

div#d3 {
  background-color: blue;
  margin: 15px;
  width: 250px;
  height: 100px;
  border: 5px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}

div#d4 {
  background-color: yellow;
  margin: 15px;
  width: 250px;
  height: 100px;
  border: 5px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}
















