ul.nav {
  border: solid thin red;
}

li {
  display: inline;
}

#circle {
  /* I should consider if I want this to be a circle or square */
  width: 100px;
  height: 100px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.initials {
  color:white;
  padding-top: 22px;
  padding-left: 25px;
  font-size: 45px;
  font-variant: small-caps;
  font-family: comic_sans;
  /*font-style: italic;*/
}

.pictureText {
  vertical-align: text-bottom;
}

 img {
  height: 20em;
  width: 20em;
  /*float: right;*/
}

/*body {
  background-image: url('IMG1.jpg');
}*/

.mainView {
  border: solid thin yellow;
}

aside.socialMediaLogos {
  border: solid thin green;
}

.bio {
  border: solid thin blue;
}

.portfolio {
  border: solid thin pink;
}

.skills {
  border: solid thin black;
}

.blog {
  border: solid thin magenta;
}

.contact {
  border: solid thin purple;
}

footer {
  border: solid thin orange;
  padding-left: 5px;
  clear: left; /* the clear is here because of the #floatDiv1 2 & 3 */
}

table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
  width: 440px;
}

.team {
  text-align: left;
}

/*table {
  width: 100%;
}

td {
  width: 20%;
}*/

.newspaper {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    column-count: 2;

}


.newsTitle {
  text-align: center;
}


div#d1 {
  background-color: red;
  margin: 35px;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}

div#d2 {
  background-color: green;
  margin: 15px;
  width: 350px;
  height: 75px;
  border: 5px solid #000000;
  color: black;
  font-weight: bold;
  text-align: left;
}

div#d3 {
  background-color: blue;
  margin: 15px;
  width: 250px;
  height: 100px;
  border: 5px ridge grey;
  color: black;
  font-weight: bold;
  text-align: right;
}

div#d4 {
  background-color: yellow;
  margin: -15px;
  width: 250px;
  height: 100px;
  border: 5px outset grey;
  color: black;
  font-weight: bold;
  text-align: center;
}

div#d5 {
  background-color: aqua;
  margin: 15px;
  width: 250px;
  height: 100px;
  border: 5px double orange;
  color: black;
  font-weight: bold;
  text-align: justify;
  padding: 10px;
}

div#d6 {
  background-color: purple ;
  /*margin: 15px;*/
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 40px;
  width: 250px;
  height: 100px;
  border: 5px inset grey;
  color: black;
  font-weight: bold;
  text-align: center;
  /*padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 9px;*/
  padding: 0px 20px 30px 40px;
}

div#d6 p {
  background-color: white;
}

div#floatDiv1 {
  background-color: red;
  margin: 35px;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
  float: left;
}

div#floatDiv2 {
  background-color: blue;
  margin: 35px;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
  float: left;
}

div#floatDiv3 {
  background-color: green;
  margin: 35px;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
  float: left;
}

div#boxModel1 {
  width: 250px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}

div#boxModel2 {
  width: 250px;
  height: 100px;
  background-color: red;
  border: 5px solid black;
  margin: 10px;
  padding: 10px;
}

div#dd1 {
  position: absolute;
  left: 50px;
  top:  3250px;
  background-color: red;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}

div#dd2 {
  position: absolute;
  background-color: green;
  left: 75px;
  top: 3275px;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;

}

div#dd3 {
  position: absolute;
  background-color: purple;
  top: 3300px;
  left: 100px;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}

div#dd4 {
  position: absolute;
  background-color: yellow;
  top: 3325px;
  left: 125px;
  width: 165px;
  height: 40px;
  border: 3px solid #000000;
  color: black;
  font-weight: bold;
  text-align: center;
}












